{% extends "base.html" %}

{% block content %}
<div class="row">
    <div class="col-md-6 offset-md-3">
        <div class="card">
            <div class="card-body">
                <h3 class="card-title">Ajouter une transaction</h3>
                <form method="POST">
                    {{ form.csrf_token }}
                    
                    <div class="mb-3">
                        {{ form.type.label(class="form-label") }}
                        {{ form.type(class="form-select") }}
                    </div>
                    
                    <div class="mb-3">
                        {{ form.amount.label(class="form-label") }}
                        {{ form.amount(class="form-control") }}
                    </div>
                    
                    <div class="mb-3">
                        {{ form.category.label(class="form-label") }}
                        {{ form.category(class="form-select") }}
                    </div>
                    
                    <div class="mb-3">
                        {{ form.description.label(class="form-label") }}
                        {{ form.description(class="form-control") }}
                    </div>
                    
                    <div class="mb-3">
                        {{ form.date.label(class="form-label") }}
                        {{ form.date(class="form-control", type="date") }}
                    </div>
                    
                    <button type="submit" class="btn btn-primary">Ajouter</button>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}